<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="vuetify.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
</head>
<body>


<div class="nums">
<h3>1</h3>
<h3>2</h3>
<h3>3</h3>
<h3>4</h3>
<h3>5</h3>
<h3>6</h3>
<h3>7</h3>
<h3>8</h3>
</div>
  <div id="app">
    <v-app >
      <v-content>
        <v-container grid-list-xl text-xs-center>
        <v-card class="b_back">
        <v-layout class="nums">
        <div class="letts">
<h3>a</h3>
<h3>b</h3>
<h3>c</h3>
<h3>d</h3>
<h3>e</h3>
<h3>f</h3>
<h3>g</h3>
<h3>h</h3>
</div>
</v-layout>
          <v-layout  wrap row align-center justify-center fill-height/>
          <v-flex xs1 v-for="i in 8" class="tile">
          <v-card class="tile" v-for="j in 8" dark tile v-bind:color="getColor(i, j)">
          </v-card>
          </v-flex>
          </v-layout>
          </v-card>
          </v-card>
        </v-container>
      </v-content>
    </v-app>
  </div>
 
  <script src="vue.js"></script>
  <script src="vuetify.js"></script>
  <script src="index.js"></script>
</body>
</html>